@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,400italic,700italic,300,700);
/* line 5, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, h1, h2, h3, h4, h5, h6, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../scss/_reset.scss */
html {
  font-size: 100%;
}

/* line 12, ../scss/_reset.scss */
body {
  font-family: "Merriweather", serif;
  line-height: 25px;
}

/* line 16, ../scss/_reset.scss */
em {
  font-style: italic;
}

/* line 19, ../scss/_reset.scss */
b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 23, ../scss/_reset.scss */
a:hover, a:focus, a:active {
  outline: none;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(.../fonts/RobotoSlab/RobotoSlab-Thin.ttf);
  src: url(../fonts/RobotoSlab/RobotoSlab-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf);
  src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf);
  src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf);
  src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 700;
}
/* line 44, ../scss/_fonts.scss */
.panel ul {
  list-style: square;
  margin-left: 30px;
  margin-right: 10px;
}

/* line 50, ../scss/_fonts.scss */
.panel ul li {
  margin: 5px 0;
}

/* line 54, ../scss/_fonts.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

/* line 59, ../scss/_fonts.scss */
strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-moz-keyframes loader {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes loader {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@keyframes loader {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../scss/_icons.scss */
.loading-icon {
  position: relative;
}
/* line 11, ../scss/_icons.scss */
.loading-icon:before {
  -moz-animation: loader 4s infinite linear;
  -webkit-animation: loader 4s infinite linear;
  animation: loader 4s infinite linear;
  background-color: #E74C3C;
  bottom: -5px;
  content: '';
  font-family: FontAwesome;
  height: 2px;
  position: absolute;
}

/* line 22, ../scss/_icons.scss */
header > nav li a, .menu-more a {
  color: #191919;
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
  vertical-align: middle;
}
/* line 30, ../scss/_icons.scss */
header > nav li a:before, .menu-more a:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #191919;
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
  text-align: center;
  width: 24px;
}
/* line 41, ../scss/_icons.scss */
header > nav li a[href="?action=unread"]:before, .menu-more a[href="?action=unread"]:before {
  content: "";
}
/* line 47, ../scss/_icons.scss */
header > nav li a[href="?action=bookmarks"]:before, .menu-more a[href="?action=bookmarks"]:before {
  content: "";
}
/* line 53, ../scss/_icons.scss */
header > nav li a[href="?action=history"]:before, .menu-more a[href="?action=history"]:before {
  content: "";
}
/* line 59, ../scss/_icons.scss */
header > nav li a[href="?action=feeds"]:before, .menu-more a[href="?action=feeds"]:before {
  content: "";
}
/* line 65, ../scss/_icons.scss */
header > nav li a[href="?action=config"]:before, .menu-more a[href="?action=config"]:before {
  content: "";
}
/* line 71, ../scss/_icons.scss */
header > nav li a[href="?action=logout"]:before, .menu-more a[href="?action=logout"]:before {
  content: "";
}
/* line 77, ../scss/_icons.scss */
header > nav li a[href="?action=more"]:before, .menu-more a[href="?action=more"]:before {
  content: "\f009";
}

/* line 2, ../scss/_forms.scss */
.page-header + form {
  background-color: #FFFFFF;
  padding: 10px;
}

/* line 7, ../scss/_forms.scss */
form {
  	/* -- Sous chromium seulement 
  	input[type="radio"],
  	input[type="checkbox"] {
  		@include box-shadow(none);
  		border: none;
  		cursor: pointer;
  		height: 21px;
  		margin: 0;
  		position: relative;
  		vertical-align: middle;
  		width: 21px;
  
  		&:before {
  			color: $concrete;
  			display: block;
  			font-family: FontAwesome;
  			font-size: rem(18);
  			height: 100%;
  			left: 0;
  			line-height: 21px;
  			position: absolute;
  			text-align: center;
  			top: 0;
  			width: 100%;	
  		}
  		&:checked {
  			&:before {
  				color: $midnight-blue;					
  			}
  		}
  	 }
  	 
  	input[type="checkbox"] {
  		&:before {			
  			content: "\f096";
  
  		}				
  		&:checked {
  			&:before {				
  				content: "\f046";
  			}
  		}
  	}
  	input[type="radio"] {
  		&:before {			
  			content: "\f10c";
  		}
  		&:checked {
  			&:before {			
  				content: "\f192";
  			}			
  		}
  	}
  	*/
}
/* line 8, ../scss/_forms.scss */
form label {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  color: #000000;
  display: block;
}
/* line 14, ../scss/_forms.scss */
form input,
form select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 17, ../scss/_forms.scss */
form input:focus, form input:hover, form input:active,
form select:focus,
form select:hover,
form select:active {
  outline: none;
}
/* line 23, ../scss/_forms.scss */
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="text"],
form input[type="url"], form select {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #FFFFFF;
  border: 1px solid #CBD0D3;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
}
/* line 4, ../scss/bourbon/css3/_placeholder.scss */
form input[type="email"]::-webkit-input-placeholder,
form input[type="password"]::-webkit-input-placeholder,
form input[type="number"]::-webkit-input-placeholder,
form input[type="text"]::-webkit-input-placeholder,
form input[type="url"]::-webkit-input-placeholder, form select::-webkit-input-placeholder {
  color: #95A5A6;
}
/* line 4, ../scss/bourbon/css3/_placeholder.scss */
form input[type="email"]::-moz-placeholder,
form input[type="password"]::-moz-placeholder,
form input[type="number"]::-moz-placeholder,
form input[type="text"]::-moz-placeholder,
form input[type="url"]::-moz-placeholder, form select::-moz-placeholder {
  color: #95A5A6;
}
/* line 4, ../scss/bourbon/css3/_placeholder.scss */
form input[type="email"]:-moz-placeholder,
form input[type="password"]:-moz-placeholder,
form input[type="number"]:-moz-placeholder,
form input[type="text"]:-moz-placeholder,
form input[type="url"]:-moz-placeholder, form select:-moz-placeholder {
  color: #95A5A6;
}
/* line 4, ../scss/bourbon/css3/_placeholder.scss */
form input[type="email"]:-ms-input-placeholder,
form input[type="password"]:-ms-input-placeholder,
form input[type="number"]:-ms-input-placeholder,
form input[type="text"]:-ms-input-placeholder,
form input[type="url"]:-ms-input-placeholder, form select:-ms-input-placeholder {
  color: #95A5A6;
}
/* line 34, ../scss/_forms.scss */
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form input[type="text"]:focus,
form input[type="url"]:focus, form select:focus, form input[type="email"]:hover,
form input[type="password"]:hover,
form input[type="number"]:hover,
form input[type="text"]:hover,
form input[type="url"]:hover, form select:hover, form input[type="email"]:active,
form input[type="password"]:active,
form input[type="number"]:active,
form input[type="text"]:active,
form input[type="url"]:active, form select:active {
  border-color: #95A5A6;
}
/* line 41, ../scss/_forms.scss */
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="text"],
form input[type="url"] {
  height: 30px;
  line-height: 30px;
  min-width: 280px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 108, ../scss/_forms.scss */
form input[type="radio"] {
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
/* line 111, ../scss/_forms.scss */
form input[type="checkbox"] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}
/* line 114, ../scss/_forms.scss */
form select {
  line-height: 30px;
  min-width: 300px;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 24, ../scss/_mixins.scss */
form h1 {
  font-size: 1.625rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
form h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
form h3 {
  font-size: 1.375rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
form h4 {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
form h5 {
  font-size: 1.125rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
form h6 {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}

/* line 127, ../scss/_forms.scss */
.form-help {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  color: #E74C3C;
}

/* line 133, ../scss/_forms.scss */
.form-actions {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 138, ../scss/_forms.scss */
.form-errors {
  list-style-type: square;
  margin-left: 30px;
}
/* line 141, ../scss/_forms.scss */
.form-errors li {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  color: #E74C3C;
}

/* line 1, ../scss/_alert.scss */
.alert {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.9375rem;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 7, ../scss/_alert.scss */
.alert a {
  color: #191919;
  text-decoration: none;
}
/* line 10, ../scss/_alert.scss */
.alert a:hover {
  color: #2ECC71;
  text-decoration: underline;
}
/* line 24, ../scss/_mixins.scss */
.alert h1 {
  font-size: 1.625rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.alert h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.alert h3 {
  font-size: 1.375rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.alert h4 {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.alert h5 {
  font-size: 1.125rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.alert h6 {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 17, ../scss/_alert.scss */
.alert ul {
  list-style-type: square;
  margin-left: 30px;
}
/* line 22, ../scss/_alert.scss */
.alert.alert-error {
  background-color: #E74C3C;
  color: #FFFFFF;
}
/* line 25, ../scss/_alert.scss */
.alert.alert-error a {
  color: #F1C40F;
}
/* line 29, ../scss/_alert.scss */
.alert.alert-success {
  background-color: #1ABC9C;
  color: #ECF0F1;
}
/* line 35, ../scss/_alert.scss */
.alert.alert-info {
  background-color: #3498DB;
  color: #ECF0F1;
}

/* line 2, ../scss/_panel.scss */
.panel {
  margin: 5px auto;
  padding: 10px;
}
/* line 24, ../scss/_mixins.scss */
.panel h1 {
  font-size: 1.625rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.panel h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.panel h3 {
  font-size: 1.375rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.panel h4 {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.panel h5 {
  font-size: 1.125rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 24, ../scss/_mixins.scss */
.panel h6 {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Merriweather", serif;
}
/* line 10, ../scss/_panel.scss */
.panel ul li {
  word-break: break-all;
}
/* line 16, ../scss/_panel.scss */
.panel.panel-default {
  background-color: #FFFFFF;
}
/* line 19, ../scss/_panel.scss */
.panel.panel-danger {
  background-color: #E74C3C !important;
}
/* line 23, ../scss/_panel.scss */
.panel.panel-danger a:hover {
  color: #FFFFFF;
}

/* line 1, ../scss/_utilities.scss */
.hide-desktop {
  display: none;
}

/* line 1, ../scss/_core.scss */
body {
  background-color: #FFFFFF;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../scss/_core.scss */
body > section {
  overflow: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 960px) {
  /* line 20, ../scss/_core.scss */
  body > header {
    left: 20px;
    top: 20px;
    overflow: hidden;
    width: 16.10542%;
    position: fixed;
    z-index: 999;
  }
}

/* line 33, ../scss/_core.scss */
.page {
  position: relative;
  padding: 10px 20px;
  width: 80.23426%;
}

/* line 2, ../scss/_sidebar.scss */
header > nav {
  display: block;
  max-width: 35px;
}
@media only screen and (min-width: 960px) {
  /* line 8, ../scss/_sidebar.scss */
  header > nav:hover > ul {
    display: block;
  }
  /* line 13, ../scss/_sidebar.scss */
  header > nav:hover .logo:after {
    background-color: #ECF0F1;
  }
  /* line 18, ../scss/_sidebar.scss */
  header > nav > ul {
    background-color: #ECF0F1;
    display: none;
    width: 200px;
  }
}
@media only screen and (max-width: 959px) {
  /* line 26, ../scss/_sidebar.scss */
  header > nav .logo {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  /* line 26, ../scss/_sidebar.scss */
  header > nav .logo {
    display: block;
    height: 35px;
    position: relative;
    font-size: 0;
    width: 32px;
  }
  /* line 38, ../scss/_sidebar.scss */
  header > nav .logo:after {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 3px 0 black;
    -webkit-box-shadow: 0 3px 0 black;
    box-shadow: 0 3px 0 black;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.5s ease-in-out 0s;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    color: #191919;
    content: '\f0c9';
    display: block;
    font-family: "FontAwesome";
    font-size: 1.375rem;
    left: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 999;
  }
}
/* line 58, ../scss/_sidebar.scss */
header > nav li {
  position: relative;
  display: block;
  padding: 5px 10px;
}
/* line 63, ../scss/_sidebar.scss */
header > nav li:hover, header > nav li.active {
  background-color: #cfd9db;
}
/* line 67, ../scss/_sidebar.scss */
header > nav li:hover:before, header > nav li.active:before {
  background-color: #E74C3C;
}
/* line 71, ../scss/_sidebar.scss */
header > nav li:before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

@media only screen and (max-width: 959px) {
  /* line 1, ../scss/_toolbar.scss */
  .page-header {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  /* line 1, ../scss/_toolbar.scss */
  .page-header {
    position: relative;
    margin-bottom: 10px;
  }
}
/* line 10, ../scss/_toolbar.scss */
.page-header > *, .page-header > nav {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 13, ../scss/_toolbar.scss */
.page-header ul li.active a:after, .page-header a:hover:after {
  background-color: #ECF0F1;
  color: #E74C3C;
}
/* line 16, ../scss/_toolbar.scss */
.page-header ul li.active a:after, .page-header a:hover:after {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 3px 0 #d62c1a;
  -webkit-box-shadow: 0 3px 0 #d62c1a;
  box-shadow: 0 3px 0 #d62c1a;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #FFFFFF;
}
/* line 24, ../scss/_toolbar.scss */
.page-header > nav {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 34, ../scss/_toolbar.scss */
.page-header h2 {
  color: #2C3E50;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  text-transform: uppercase;
}
/* line 41, ../scss/_toolbar.scss */
.page-header ul {
  position: fixed;
  left: 10px;
  top: 60px;
  z-index: 111;
}
/* line 48, ../scss/_toolbar.scss */
.page-header ul li {
  display: block;
  text-align: center;
  margin-left: 10px;
}
/* line 68, ../scss/_toolbar.scss */
.page-header a {
  color: #191919;
  display: block;
  height: 36px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-indent: -999px;
  width: 32px;
}
/* line 78, ../scss/_toolbar.scss */
.page-header a:after {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 3px 0 black;
  -webkit-box-shadow: 0 3px 0 black;
  box-shadow: 0 3px 0 black;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #FFFFFF;
  display: block;
  font-family: "FontAwesome";
  left: 0;
  line-height: 30px;
  padding: 0;
  position: absolute;
  text-indent: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
/* line 99, ../scss/_toolbar.scss */
.page-header a[href*="direction=asc"]:after {
  content: "\f162";
}
/* line 104, ../scss/_toolbar.scss */
.page-header a[href*="direction=desc"]:after {
  content: "\f163";
}
/* line 111, ../scss/_toolbar.scss */
.page-header a[href*="mark-as-read"]:after, .page-header a[href*="mark-feed-as-read"]:after {
  content: "\f06e";
}
/* line 117, ../scss/_toolbar.scss */
.page-header a[href="?action=add"]:after {
  content: "\f067";
}
/* line 123, ../scss/_toolbar.scss */
.page-header a[href="?action=import"]:after {
  content: "\f093";
}
/* line 129, ../scss/_toolbar.scss */
.page-header a[href="?action=export"]:after {
  content: "\f019";
}
/* line 135, ../scss/_toolbar.scss */
.page-header a[href="?action=refresh-all"]:after {
  content: "\f021";
}
/* line 141, ../scss/_toolbar.scss */
.page-header a[href="?action=confirm-flush-history"]:after {
  content: "\f014";
}
/* line 147, ../scss/_toolbar.scss */
.page-header a[href="?action=feeds"]:after {
  content: "\f09e";
}
/* line 153, ../scss/_toolbar.scss */
.page-header a[href="?action=config"]:after {
  content: "\f013";
}
/* line 159, ../scss/_toolbar.scss */
.page-header a[href="?action=help"]:after {
  content: "\f128";
}
/* line 165, ../scss/_toolbar.scss */
.page-header a[href="?action=services"]:after {
  content: "\f1e0";
}
/* line 171, ../scss/_toolbar.scss */
.page-header a[href="?action=about"]:after {
  content: "\f129";
}
/* line 177, ../scss/_toolbar.scss */
.page-header a[href="?action=database"]:after {
  content: "\f1c0";
}
/* line 183, ../scss/_toolbar.scss */
.page-header a[href="?action=api"]:after {
  content: "\f084";
}
/* line 189, ../scss/_toolbar.scss */
.page-header a[href*="action=refresh-feed"]:after {
  content: "\f021";
}
/* line 195, ../scss/_toolbar.scss */
.page-header a[href*="action=console"]:after {
  content: "\f120";
}
/* line 201, ../scss/_toolbar.scss */
.page-header a[href*="action=flush-console"]:after {
  content: "\f12d";
}
/* line 206, ../scss/_toolbar.scss */
.page-header a[href="?action=mark-all-read"]:after {
  content: "\f06e";
}

/* line 1, ../scss/_items.scss */
.items {
  *zoom: 1;
}
/* line 38, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.items:after {
  content: "";
  display: table;
  clear: both;
}
/* line 4, ../scss/_items.scss */
.items article[data-feed-disabled="1"] .read-icon, .items article[data-item-status="read"] .read-icon, .items article[data-item-bookmark="1"] .bookmark-icon, .items article[data-feed-disabled="1"] .read-icon:after, .items article[data-item-status="read"] .read-icon:after, .items article[data-item-bookmark="1"] .bookmark-icon:after {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 7, ../scss/_items.scss */
.items article[data-feed-disabled="1"] .read-icon, .items article[data-item-status="read"] .read-icon, .items article[data-item-bookmark="1"] .bookmark-icon {
  font-family: FontAwesome;
  font-size: 0.75rem;
  background-color: #FFFFFF;
  color: #CBD0D3;
  padding: 0 5px;
  display: none;
}
/* line 20, ../scss/_items.scss */
.items article[data-feed-disabled="1"] .read-icon + .favicon, .items article[data-item-status="read"] .read-icon + .favicon, .items article[data-item-bookmark="1"] .bookmark-icon + .favicon,
.items article[data-feed-disabled="1"] .read-icon + a,
.items article[data-item-status="read"] .read-icon + a,
.items article[data-item-bookmark="1"] .bookmark-icon + a {
  margin-left: 5px;
}
/* line 26, ../scss/_items.scss */
.items article {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-bottom: 1px solid #ECF0F1;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}
/* line 28, ../scss/_items.scss */
.items article[data-feed-disabled="1"], .items article[data-item-status="read"] {
  background-color: #ECF0F1;
}
/* line 35, ../scss/_items.scss */
.items article[data-feed-disabled="1"] .read-icon:after, .items article[data-item-status="read"] .read-icon:after {
  content: "\f06e";
}
/* line 39, ../scss/_items.scss */
.items article[data-feed-disabled="1"]:hover, .items article[data-item-status="read"]:hover {
  background-color: #FFFFFF;
}
/* line 47, ../scss/_items.scss */
.items article[data-item-bookmark="1"] .bookmark-icon:after {
  content: "\f005";
}
/* line 53, ../scss/_items.scss */
.items article[data-feed-error] {
  background-color: #f2c9c5;
}
/* line 67, ../scss/_items.scss */
.items article:hover {
  background-color: #eff2f3;
  border-bottom-color: #E74C3C;
}
/* line 73, ../scss/_items.scss */
.items article > h2 {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 5px;
}
/* line 81, ../scss/_items.scss */
.items article > h2 .bookmark-icon,
.items article > h2 .read-icon {
  display: none;
}
/* line 87, ../scss/_items.scss */
.items article > h2 .favicon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: none;
  height: 16px;
  width: 16px;
}
/* line 94, ../scss/_items.scss */
.items article > h2 a {
  vertical-align: middle;
  color: #191919;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}
/* line 102, ../scss/_items.scss */
.items article > h2 a:hover {
  text-decoration: none;
}
/* line 107, ../scss/_items.scss */
.items article > h2 .feed-last-checked,
.items article > h2 .feed-parsing-error {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
}
/* line 113, ../scss/_items.scss */
.items article > h2 .feed-last-checked {
  color: #F39C12;
}
/* line 117, ../scss/_items.scss */
.items article > h2 .feed-parsing-error {
  color: #C0392B;
}
/* line 122, ../scss/_items.scss */
.items article > .preview {
  font-size: 0.9375rem;
  line-height: 27px;
}

/* line 2, ../scss/_item-menu.scss */
.item-menu li, .item-menu li:before, .item-menu a:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 6, ../scss/_item-menu.scss */
.item-menu li {
  color: #7F8C8D;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
}
/* line 13, ../scss/_item-menu.scss */
.item-menu li:first-child:before {
  display: none;
}
/* line 17, ../scss/_item-menu.scss */
.item-menu li:before {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}
/* line 25, ../scss/_item-menu.scss */
.item-menu a {
  color: #7F8C8D;
  text-decoration: none;
  vertical-align: middle;
}
/* line 30, ../scss/_item-menu.scss */
.item-menu a:hover {
  color: #E74C3C;
}
/* line 33, ../scss/_item-menu.scss */
.item-menu a:before {
  font-family: FontAwesome;
  margin-right: 5px;
}
/* line 41, ../scss/_item-menu.scss */
.item-menu a[href^="?action=feed-items"]:before {
  content: "\f09e";
}
/* line 47, ../scss/_item-menu.scss */
.item-menu a.original:before {
  content: "\f08e";
}
/* line 53, ../scss/_item-menu.scss */
.item-menu a.bookmark:before {
  content: "\f005";
}
/* line 57, ../scss/_item-menu.scss */
.item-menu a.bookmark[data-reverse-label*="remove"]:before {
  content: "\f006";
}
/* line 64, ../scss/_item-menu.scss */
.item-menu a.delete:before {
  content: "\f014";
}
/* line 70, ../scss/_item-menu.scss */
.item-menu a.mark:before {
  content: "\f06e";
}
/* line 74, ../scss/_item-menu.scss */
.item-menu a.mark[data-action="mark-unread"]:before {
  content: "\f070";
}
/* line 81, ../scss/_item-menu.scss */
.item-menu a[href^="?action=edit-feed"]:before {
  content: "\f044";
}
/* line 87, ../scss/_item-menu.scss */
.item-menu a[data-action="refresh-feed"]:before {
  content: "\f021";
}

/* line 1, ../scss/_bottom-menu.scss */
#bottom-menu, #items-paging {
  float: right;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 4, ../scss/_bottom-menu.scss */
#bottom-menu a, #items-paging a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: FontAwesome;
  height: 36px;
  width: 30px;
  position: relative;
  overflow: hidden;
  color: #191919;
}
/* line 14, ../scss/_bottom-menu.scss */
#bottom-menu a:before, #items-paging a:before {
  text-align: center;
  width: 100%;
  line-height: 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 3px 0 black;
  -webkit-box-shadow: 0 3px 0 black;
  box-shadow: 0 3px 0 black;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 22, ../scss/_bottom-menu.scss */
#bottom-menu a:hover:before, #items-paging a:hover:before {
  background-color: #ECF0F1;
}
/* line 30, ../scss/_bottom-menu.scss */
#bottom-menu a[href="?action=mark-all-read"]:before, #items-paging a[href="?action=mark-all-read"]:before, #bottom-menu a[data-action="mark-all-read"]:before, #items-paging a[data-action="mark-all-read"]:before {
  content: "\f06e";
}

/* line 36, ../scss/_bottom-menu.scss */
#bottom-menu {
  margin-left: 10px;
}

/* line 43, ../scss/_bottom-menu.scss */
#items-paging #next-page:before {
  content: "\f105";
}
/* line 48, ../scss/_bottom-menu.scss */
#items-paging #previous-page:before {
  content: "\f104";
}

/* line 2, ../scss/_menu-more.scss */
.menu-more li {
  line-height: 36px;
  margin-bottom: 10px;
}

/* line 1, ../scss/_single.scss */
.item {
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.item:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../scss/_single.scss */
.item > nav {
  *zoom: 1;
  text-align: right;
}
/* line 38, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.item > nav:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, ../scss/_single.scss */
.item > nav .nav-left, .item > nav .nav-right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  color: transparent;
}
/* line 18, ../scss/_single.scss */
.item > nav .nav-right {
  margin-left: 10px;
}
/* line 23, ../scss/_single.scss */
.item > nav a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: 'FontAwesome';
  height: 36px;
  width: 30px;
  position: relative;
  overflow: hidden;
  color: #191919;
}
/* line 33, ../scss/_single.scss */
.item > nav a:before {
  text-align: center;
  width: 100%;
  line-height: 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 3px 0 black;
  -webkit-box-shadow: 0 3px 0 black;
  box-shadow: 0 3px 0 black;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 41, ../scss/_single.scss */
.item > nav a:hover:before {
  background-color: #ECF0F1;
}
/* line 47, ../scss/_single.scss */
.item > nav #next-item:before {
  content: "\f105";
}
/* line 52, ../scss/_single.scss */
.item > nav #previous-item:before {
  content: "\f104";
}
/* line 59, ../scss/_single.scss */
.item > h1 a {
  color: #191919;
  font-size: 2.125rem;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
  text-indent: -2px;
  line-height: 1.2;
}
/* line 70, ../scss/_single.scss */
.item > .item-infos {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 76, ../scss/_single.scss */
.item > .item-infos li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #7F8C8D;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 32px;
}
/* line 83, ../scss/_single.scss */
.item > .item-infos li:before {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  content: " - ";
}
/* line 89, ../scss/_single.scss */
.item > .item-infos li:nth-child(1):before, .item > .item-infos li:nth-child(2):before {
  content: "";
}
/* line 93, ../scss/_single.scss */
.item > .item-infos li a {
  color: #7F8C8D;
  font-size: 0.875rem;
  text-decoration: none;
  vertical-align: middle;
}
/* line 99, ../scss/_single.scss */
.item > .item-infos li a:hover {
  color: #E74C3C;
  text-decoration: underline;
}
/* line 104, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 32px;
  height: 32px;
  text-align: center;
}
/* line 109, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon:hover {
  text-decoration: none;
}
/* line 112, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon:before {
  font-family: 'FontAwesome';
  content: "\f006";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 119, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon[title*="remove"]:before {
  content: "\f005";
}
/* line 127, ../scss/_single.scss */
.item > .item-infos li [data-failure-message] {
  color: #E74C3C;
}
/* line 133, ../scss/_single.scss */
.item > #item-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  background-color: #FFFFFF;
  clear: both;
  font-size: 1.25rem;
  height: auto;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
}
/* line 38, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.item > #item-content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 145, ../scss/_single.scss */
.item > #item-content a {
  color: #191919;
  text-decoration: none;
  border-bottom: 1px dotted #191919;
}
/* line 150, ../scss/_single.scss */
.item > #item-content a:hover {
  border-bottom-color: #E74C3C;
}
/* line 155, ../scss/_single.scss */
.item > #item-content ol, .item > #item-content ul {
  margin-left: 30px;
  margin-right: 20px;
}
/* line 159, ../scss/_single.scss */
.item > #item-content ul {
  list-style-type: square;
}
/* line 162, ../scss/_single.scss */
.item > #item-content ol {
  list-style-type: decimal;
}
/* line 166, ../scss/_single.scss */
.item > #item-content blockquote,
.item > #item-content q {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px;
  padding: 0 15px;
  position: relative;
  line-height: 30px;
}
/* line 175, ../scss/_single.scss */
.item > #item-content blockquote small,
.item > #item-content q small {
  font-size: 0.875rem;
}
/* line 181, ../scss/_single.scss */
.item > #item-content table {
  border: none;
  width: 100%;
}
/* line 185, ../scss/_single.scss */
.item > #item-content table th {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
}
/* line 191, ../scss/_single.scss */
.item > #item-content table th,
.item > #item-content table td {
  border: 1px solid #000000;
  padding: 10px;
}
/* line 198, ../scss/_single.scss */
.item > #item-content pre {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 0.875rem;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
/* line 207, ../scss/_single.scss */
.item > #item-content pre:before {
  background-color: #000000;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}
/* line 221, ../scss/_single.scss */
.item > #item-content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 221, ../scss/_single.scss */
.item > #item-content h2 {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 221, ../scss/_single.scss */
.item > #item-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 221, ../scss/_single.scss */
.item > #item-content h4 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 221, ../scss/_single.scss */
.item > #item-content h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 221, ../scss/_single.scss */
.item > #item-content h6 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 230, ../scss/_single.scss */
.item > #item-content p {
  line-height: 35px;
  margin-bottom: 20px;
}
/* line 235, ../scss/_single.scss */
.item > #item-content img {
  display: block;
  max-width: 96%;
  margin: 15px auto;
}
/* line 241, ../scss/_single.scss */
.item > #item-content iframe {
  display: block;
  margin: 15px auto;
  background-color: #000000;
}

/* line 1, ../scss/_config.scss */
#console {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2C3E50;
  color: #ECF0F1;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  word-wrap: break-word;
}

/* line 12, ../scss/_config.scss */
[data-item-page="config"] .page-header,
[data-item-page="config"] .page-section {
  margin-bottom: 10px;
}
/* line 16, ../scss/_config.scss */
[data-item-page="config"] .page-header + section,
[data-item-page="config"] .page-section + section {
  background-color: #FFFFFF;
  padding: 10px;
}
/* line 20, ../scss/_config.scss */
[data-item-page="config"] .page-header + section ul,
[data-item-page="config"] .page-section + section ul {
  list-style-type: square;
  margin: auto 30px;
}
/* line 28, ../scss/_config.scss */
[data-item-page="config"] .page-section h2 {
  color: #2C3E50;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  text-transform: uppercase;
}
/* line 35, ../scss/_config.scss */
[data-item-page="config"] a {
  color: #191919;
  text-decoration: none;
}
/* line 38, ../scss/_config.scss */
[data-item-page="config"] a:hover {
  color: #E74C3C;
  text-decoration: underline;
}
/* line 44, ../scss/_config.scss */
[data-item-page="config"] label ~ br {
  display: none;
}

/* line 2, ../scss/_login.scss */
#login {
  position: relative;
  width: 310px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fFFFFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 10, ../scss/_login.scss */
#login form {
  display: block;
}
/* line 13, ../scss/_login.scss */
#login form [type="text"],
#login form [type="password"] {
  width: 100%;
  min-width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_buttons.scss */
.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 36px;
  line-height: 30px;
  border: 0 solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  text-decoration: none;
  /* -- 
  &.btn-red {
  	@include flat-box($alizarin, $clouds, 5px);
  	color: $alizarin;
  	&:hover {
  		color: $asbestos;
  	}
  }
  */
}
/* line 16, ../scss/_buttons.scss */
.btn.btn-blue, .btn.btn-red {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 3px 0 black;
  -webkit-box-shadow: 0 3px 0 black;
  box-shadow: 0 3px 0 black;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
  background-color: #FFFFFF;
  color: #191919;
}
/* line 20, ../scss/_buttons.scss */
.btn.btn-blue:hover, .btn.btn-red:hover {
  color: #7F8C8D;
}
/* line 33, ../scss/_buttons.scss */
.btn ~ a {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  color: #191919;
}

/* line 1, ../scss/_counter.scss */
#page-counter, #nav-counter {
  margin: 0 3px;
}
/* line 4, ../scss/_counter.scss */
#page-counter:not(:empty):before, #nav-counter:not(:empty):before {
  content: " (";
}
/* line 7, ../scss/_counter.scss */
#page-counter:not(:empty):after, #nav-counter:not(:empty):after {
  content: ") ";
}

/* line 14, ../scss/_counter.scss */
.items-count {
  background-color: #191919;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  padding: 5px;
  vertical-align: middle;
}

@media only screen and (min-width: 320px) {
  /* line 4, ../scss/_queries.scss */
  #login {
    margin: 10px 5px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 16, ../scss/_queries.scss */
  #login {
    margin: 10% 20px 20px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 22, ../scss/_queries.scss */
  .hide-mobile {
    display: none !important;
  }

  /* line 25, ../scss/_queries.scss */
  .hide-desktop {
    display: block;
  }

  /* line 30, ../scss/_queries.scss */
  body > header,
  body > section {
    position: relative;
    width: 100%;
  }

  /* line 40, ../scss/_queries.scss */
  header {
    margin-bottom: 10px;
  }
  /* line 42, ../scss/_queries.scss */
  header > nav {
    *zoom: 1;
  }
  /* line 38, ../../../../../../../../usr/lib/ruby/gems/2.2.0/gems/compass-1.0.1/vendor/bundle/ruby/2.2.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  header > nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 44, ../scss/_queries.scss */
  header > nav li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 50%;
  }
  /* line 49, ../scss/_queries.scss */
  header > nav li:before {
    height: 3px;
    right: 0;
    top: initial;
    width: 100%;
  }

  /* line 59, ../scss/_queries.scss */
  .page:not(#login) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    width: auto;
  }

  /* line 67, ../scss/_queries.scss */
  .page-header > h2 {
    margin-bottom: 10px;
  }
  /* line 70, ../scss/_queries.scss */
  .page-header > nav {
    position: relative;
  }
  /* line 73, ../scss/_queries.scss */
  .page-header > nav li:first-child {
    margin-left: 0;
  }

  /* line 82, ../scss/_queries.scss */
  [data-item-page="feeds"] .page-header > ul {
    position: relative;
  }
  /* line 85, ../scss/_queries.scss */
  [data-item-page="feeds"] .page-header > ul li:first-child {
    margin-left: 0;
  }

  /* line 94, ../scss/_queries.scss */
  form input[type="email"],
  form input[type="password"],
  form input[type="number"],
  form input[type="text"],
  form input[type="url"] {
    min-width: 260px;
  }
  /* line 101, ../scss/_queries.scss */
  form select {
    min-width: 280px;
  }
}
