@charset "UTF-8";
/* line 5, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, h1, h2, h3, h4, h5, h6, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 9, ../scss/_reset.scss */
html { font-size: 100%; }

/* line 12, ../scss/_reset.scss */
body { font-family: Arial, Tahoma, sans-serif; line-height: 25px; }

/* line 16, ../scss/_reset.scss */
em { font-style: italic; }

/* line 19, ../scss/_reset.scss */
b, strong, h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* line 23, ../scss/_reset.scss */
a:hover, a:focus, a:active { outline: none; }

@font-face { font-family: 'Roboto Slab'; src: url(.../fonts/RobotoSlab/RobotoSlab-Thin.ttf); src: url(../fonts/RobotoSlab/RobotoSlab-Thin.ttf) format("truetype"); font-weight: 100; }
@font-face { font-family: 'Roboto Slab'; src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf); src: url(../fonts/RobotoSlab/RobotoSlab-Light.ttf) format("truetype"); font-weight: 300; }
@font-face { font-family: 'Roboto Slab'; src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf); src: url(../fonts/RobotoSlab/RobotoSlab-Regular.ttf) format("truetype"); font-weight: 400; }
@font-face { font-family: 'Roboto Slab'; src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf); src: url(../fonts/RobotoSlab/RobotoSlab-Bold.ttf) format("truetype"); font-weight: 700; }
/* line 31, ../scss/_fonts.scss */
.alert.alert-normal h3, .page-header h2, .page-section h2, .items article h2 a { font-family: "Liberation Sans", serif; font-weight: 700; font-size: 1rem; }

/* line 37, ../scss/_fonts.scss */
.items article .preview { font-family: Helvetica, Arial, sans-serif; font-size: 0.9rem; }

/* line 44, ../scss/_fonts.scss */
.page-section + section ul, .panel ul, .form-actions ul { list-style: square; margin-left: 30px; margin-right: 10px; }

/* line 50, ../scss/_fonts.scss */
.page-section + section ul li, .panel ul li, .form-actions ul li { margin: 5px 0; }

/* line 54, ../scss/_fonts.scss */
h1, h2, h3, h4, h5, h6 { margin-top: 10px; }

/* line 59, ../scss/_fonts.scss */
strong, h1, h2, h3, h4, h5, h6 { font-weight: 700; }

@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=4.1.0"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }
/* line 8, ../scss/_icons.scss */
.loading-icon:before, .page-header ul li a:after, .items .item-menu li a:before, .items #bottom-menu > a { font-family: "FontAwesome"; }

/* line 13, ../scss/_icons.scss */
.loading-icon:before { content: "\f021"; color: #009966; -webkit-animation: spin 2s infinite linear; animation: spin 2s infinite linear; margin-right: 10px; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
@keyframes spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
/* line 1, ../scss/_forms.scss */
form { background-color: #fFFFFF; padding: 10px; }
/* line 5, ../scss/_forms.scss */
form input, form button, form textarea, form select { font-family: Helvetica, Arial, sans-serif; font-size: 1em; color: #595959; }
/* line 14, ../scss/_forms.scss */
form input, form textarea, form select { background-color: white; border: 1px solid #f2f2f2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding: 5px; }
/* line 27, ../scss/_forms.scss */
form label, form input, form select { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-bottom: 5px; }
/* line 35, ../scss/_forms.scss */
form label[for*="form-"] { width: 26.35432%; }
/* line 38, ../scss/_forms.scss */
form input[type="submit"], form button[type="button"], form button[type="submit"] { background-color: #009463; color: #f2f2f2; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer; padding: 10px; border: 1px solid #f2f2f2; }
/* line 49, ../scss/_forms.scss */
form ul { list-style-type: square; margin: 10px 40px; }

/* line 1, ../scss/_alert.scss */
.alert { padding: 5px 10px; border: 1px solid #f2f2f2; margin: 10px 0; font-size: 1em; }
/* line 7, ../scss/_alert.scss */
.alert.alert-error { background-color: rgba(248, 201, 196, 0.7); color: rgba(77, 16, 10, 0.8); }
/* line 11, ../scss/_alert.scss */
.alert.alert-normal { background-color: #fFFFFF; border-width: 0px; padding-top: 10px; padding-bottom: 10px; }
/* line 21, ../scss/_alert.scss */
.alert.alert-normal ul { list-style-type: square; margin: 10px 40px; }
/* line 26, ../scss/_alert.scss */
.alert.alert-info { background-color: rgba(183, 229, 234, 0.7); color: rgba(13, 43, 47, 0.8); }
/* line 30, ../scss/_alert.scss */
.alert.alert-success { background-color: rgba(222, 242, 233, 0.7); color: rgba(31, 76, 56, 0.8); border-color: #001a11; }
/* line 38, ../scss/_alert.scss */
.alert#shortcuts li strong:before, .alert#shortcuts li h1:before, .alert#shortcuts li h2:before, .alert#shortcuts li h3:before, .alert#shortcuts li h4:before, .alert#shortcuts li h5:before, .alert#shortcuts li h6:before { content: " ' "; }
/* line 41, ../scss/_alert.scss */
.alert#shortcuts li strong:after, .alert#shortcuts li h1:after, .alert#shortcuts li h2:after, .alert#shortcuts li h3:after, .alert#shortcuts li h4:after, .alert#shortcuts li h5:after, .alert#shortcuts li h6:after { content: " ' "; }

/* line 1, ../scss/_utilities.scss */
.hide-desktop { display: none; }

/* line 1, ../scss/_core.scss */
body { background-color: #e8e8e8; }
/* line 4, ../scss/_core.scss */
body > header, body > section { bottom: 0; top: 0; }
/* line 10, ../scss/_core.scss */
body > section { overflow: auto; position: absolute; }

/* line 16, ../scss/_core.scss */
header { left: 0; position: fixed; overflow: hidden; width: 14.64129%; }

/* line 24, ../scss/_core.scss */
section.page { right: 0; width: 81.69839%; padding: 10px 20px; }
/* line 29, ../scss/_core.scss */
section.page .page-header { position: relative; }
/* line 33, ../scss/_core.scss */
section.page a { color: #009966; }

/* line 40, ../scss/_core.scss */
.page-header { margin: 0  0 15px; *zoom: 1; }
/* line 38, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.page-header:after { content: ""; display: table; clear: both; }
/* line 44, ../scss/_core.scss */
.page-header h2 { float: left; line-height: 30px; }
/* line 49, ../scss/_core.scss */
.page-header ul { float: right; }
/* line 52, ../scss/_core.scss */
.page-header ul li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; text-align: center; }
/* line 56, ../scss/_core.scss */
.page-header ul li a, .page-header ul li a:after { overflow: hidden; display: block; height: 25px; text-decoration: none; width: 25px; }
/* line 65, ../scss/_core.scss */
.page-header ul li a { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #009966; -webkit-box-shadow: 0 3px 0 #009966; box-shadow: 0 3px 0 #009966; background-color: #f2f2f2; color: #008055; font-family: "Liberation Sans", serif; position: relative; text-indent: -999px; }
/* line 75, ../scss/_core.scss */
.page-header ul li a:after { left: 0; line-height: 25px; position: absolute; text-indent: 0; top: 0; z-index: 999; }
/* line 88, ../scss/_core.scss */
.page-header ul li a[href*="action=unread"][href*="direction=asc"]:after, .page-header ul li a[href*="action=feed-items"][href*="direction=asc"]:after { content: "\f162"; }
/* line 96, ../scss/_core.scss */
.page-header ul li a[href*="action=unread"][href*="direction=desc"]:after, .page-header ul li a[href*="action=feed-items"][href*="direction=desc"]:after { content: "\f163"; }
/* line 103, ../scss/_core.scss */
.page-header ul li a[href*="mark-as-read"]:after, .page-header ul li a[href*="mark-feed-as-read"]:after { content: "\f058"; }
/* line 108, ../scss/_core.scss */
.page-header ul li a[href="?action=add"]:after { content: "\f067"; }
/* line 113, ../scss/_core.scss */
.page-header ul li a[href="?action=import"]:after { content: "\f093"; }
/* line 118, ../scss/_core.scss */
.page-header ul li a[href="?action=export"]:after { content: "\f019"; }
/* line 123, ../scss/_core.scss */
.page-header ul li a[href="?action=refresh-all"]:after { content: "\f021"; }
/* line 128, ../scss/_core.scss */
.page-header ul li a[href="?action=confirm-flush-history"]:after { content: "\f014"; }
/* line 133, ../scss/_core.scss */
.page-header ul li a[href="?action=feeds"]:after { content: "\f09e"; }
/* line 138, ../scss/_core.scss */
.page-header ul li a[href="?action=config"]:after { content: "\f013"; }
/* line 144, ../scss/_core.scss */
.page-header ul li a[href="?action=help"]:after { content: "\f128"; }
/* line 150, ../scss/_core.scss */
.page-header ul li a[href="?action=services"]:after { content: "\f1e0"; }
/* line 155, ../scss/_core.scss */
.page-header ul li a[href="?action=about"]:after { content: "\f129"; }
/* line 160, ../scss/_core.scss */
.page-header ul li a[href="?action=database"]:after { content: "\f1c0"; }
/* line 165, ../scss/_core.scss */
.page-header ul li a[href="?action=api"]:after { content: "\f084"; }
/* line 170, ../scss/_core.scss */
.page-header ul li a[href*="action=refresh-feed"]:after { content: "\f021"; }
/* line 175, ../scss/_core.scss */
.page-header ul li a[href*="action=console"]:after { content: "\f120"; }
/* line 180, ../scss/_core.scss */
.page-header ul li a[href*="action=flush-console"]:after { content: "\f12d"; }
/* line 191, ../scss/_core.scss */
.page-section h2 { margin-bottom: 15px; margin-top: 15px; }
/* line 199, ../scss/_core.scss */
.page-section + section { background-color: #fFFFFF; padding: 10px; }

/* line 215, ../scss/_core.scss */
#page-counter, #nav-counter, .items-count { margin: 0 3px; }
/* line 218, ../scss/_core.scss */
#page-counter:not(:empty):before, #nav-counter:not(:empty):before, .items-count:not(:empty):before { content: " ("; }
/* line 221, ../scss/_core.scss */
#page-counter:not(:empty):after, #nav-counter:not(:empty):after, .items-count:not(:empty):after { content: ") "; }

/* line 233, ../scss/_core.scss */
.panel, .form-actions { margin: 5px auto; padding: 10px; }
/* line 237, ../scss/_core.scss */
.panel h3, .form-actions h3 { font-family: "Liberation Sans", serif; font-size: .9rem; font-weight: 700; margin-bottom: 10px; }
/* line 251, ../scss/_core.scss */
.panel-default { background-color: #fFFFFF; }
/* line 254, ../scss/_core.scss */
.panel-danger { background-color: #f6c443 !important; }

/* line 259, ../scss/_core.scss */
.form-actions { background-color: #fFFFFF; }

/* line 1, ../scss/_sidebar.scss */
header { background-color: #16A085; }
/* line 4, ../scss/_sidebar.scss */
header > nav { display: block; }
/* line 7, ../scss/_sidebar.scss */
header > nav > ul, header > nav > a { display: block; }
/* line 11, ../scss/_sidebar.scss */
header > nav .logo { color: #34495E; font-family: "Roboto Slab", Arial, sans-serif; font-weight: 700; padding: 10px; text-decoration: none; text-transform: uppercase; }
/* line 19, ../scss/_sidebar.scss */
header > nav li { position: relative; display: block; padding: 5px 10px; }
/* line 24, ../scss/_sidebar.scss */
header > nav li:hover, header > nav li.active { background-color: #1ABC9C; }
/* line 28, ../scss/_sidebar.scss */
header > nav li:hover:before, header > nav li.active:before { background-color: #E74C3C; }
/* line 32, ../scss/_sidebar.scss */
header > nav li:before { bottom: 0; content: ""; display: block; left: 0; position: absolute; top: 0; width: 3px; }
/* line 42, ../scss/_sidebar.scss */
header > nav li a { color: #FFFFFF; font-family: "Roboto Slab", Arial, sans-serif; font-weight: normal; font-size: 1rem; text-decoration: none; vertical-align: middle; }
/* line 50, ../scss/_sidebar.scss */
header > nav li a:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; color: white; font-family: FontAwesome; font-weight: normal; margin-right: 10px; text-align: center; width: 24px; }
/* line 61, ../scss/_sidebar.scss */
header > nav li a[href="?action=unread"]:before { content: ""; }
/* line 67, ../scss/_sidebar.scss */
header > nav li a[href="?action=bookmarks"]:before { content: ""; }
/* line 73, ../scss/_sidebar.scss */
header > nav li a[href="?action=history"]:before { content: ""; }
/* line 79, ../scss/_sidebar.scss */
header > nav li a[href="?action=feeds"]:before { content: ""; }
/* line 85, ../scss/_sidebar.scss */
header > nav li a[href="?action=config"]:before { content: ""; }
/* line 91, ../scss/_sidebar.scss */
header > nav li a[href="?action=logout"]:before { content: ""; }
/* line 97, ../scss/_sidebar.scss */
header > nav li a[href="?action=more"]:before { content: "\f009"; }

/* line 1, ../scss/_items.scss */
.feed-parsing-error { visibility: hidden; }

/* line 5, ../scss/_items.scss */
.items article { -moz-box-shadow: 0 3px 0 #006644; -webkit-box-shadow: 0 3px 0 #006644; box-shadow: 0 3px 0 #006644; background-color: #fFFFFF; margin-bottom: 15px; padding: 10px 20px; }
/* line 13, ../scss/_items.scss */
.items article[data-item-bookmark="0"] .bookmark:before { content: "\f006"; }
/* line 20, ../scss/_items.scss */
.items article[data-item-bookmark="1"] .bookmark:before { content: "\f005"; }
/* line 26, ../scss/_items.scss */
.items article[data-item-status="read"] { background-color: rgba(153, 153, 153, 0.7); }
/* line 30, ../scss/_items.scss */
.items article[data-feed-error] { background-color: rgba(248, 201, 196, 0.7); }
/* line 32, ../scss/_items.scss */
.items article[data-feed-error] .feed-parsing-error { visibility: visible; }
/* line 37, ../scss/_items.scss */
.items article[data-feed-disabled="1"] { background-color: rgba(153, 153, 153, 0.7); }
/* line 40, ../scss/_items.scss */
.items article h2 { display: block; margin-bottom: 5px; }
/* line 49, ../scss/_items.scss */
.items article h2 a, .items article h2 .favicon { @extends %commonChld; }
/* line 54, ../scss/_items.scss */
.items article h2 a { color: #000; text-decoration: none; }
/* line 60, ../scss/_items.scss */
.items article h2 .favicon { height: 16px; width: 16px; }
/* line 64, ../scss/_items.scss */
.items article h2 .feed-last-checked { font-size: .8em; font-weight: normal; }
/* line 68, ../scss/_items.scss */
.items article h2 .feed-parsing-error { font-size: .8em; font-weight: normal; }
/* line 73, ../scss/_items.scss */
.items article .preview { display: block; line-height: 25px; }
/* line 80, ../scss/_items.scss */
.items .item-menu { font-size: 0.9rem; margin-top: 5px; }
/* line 84, ../scss/_items.scss */
.items .item-menu li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
/* line 87, ../scss/_items.scss */
.items .item-menu li:before { content: " / "; padding-right: 5px; padding-left: 5px; }
/* line 94, ../scss/_items.scss */
.items .item-menu li:first-child:before { display: none; }
/* line 99, ../scss/_items.scss */
.items .item-menu li:first-child a:before { content: "\f09e"; }
/* line 104, ../scss/_items.scss */
.items .item-menu li a { color: #008055; text-decoration: none; }
/* line 108, ../scss/_items.scss */
.items .item-menu li a:before { margin-right: 2px; }
/* line 113, ../scss/_items.scss */
.items .item-menu li a.original:before { content: "\f0ac"; }
/* line 118, ../scss/_items.scss */
.items .item-menu li a[href*="action=confirm-remove-feed"]:before { content: "\f014"; }
/* line 123, ../scss/_items.scss */
.items .item-menu li a[href*="action=edit-feed"]:before { content: "\f044"; }
/* line 128, ../scss/_items.scss */
.items .item-menu li a[href*="action=refresh-feed"]:before { content: "\f021"; }
/* line 134, ../scss/_items.scss */
.items .item-menu li a[href*="action=mark-item-removed"]:before { content: "\f014"; margin-right: 2px; }
/* line 142, ../scss/_items.scss */
.items .item-menu li a.mark:before { content: "\f070"; }
/* line 147, ../scss/_items.scss */
.items .item-menu li a.mark[data-action="mark-read"]:before { content: "\f06e"; }
/* line 154, ../scss/_items.scss */
.items .item-menu li a[href*="action=disable-grabber-feed"]:before { content: "\f057"; }
/* line 159, ../scss/_items.scss */
.items .item-menu li a[href*="action=enable-grabber-feed"]:before { content: "\f058"; }
/* line 164, ../scss/_items.scss */
.items .item-menu li a[href*="action=enable-feed"]:before { content: "\f05d"; }
/* line 171, ../scss/_items.scss */
.items #bottom-menu { padding: 5px 0; margin-bottom: 10px; float: right; }
/* line 176, ../scss/_items.scss */
.items #bottom-menu > a, .items #bottom-menu > a:after { overflow: hidden; display: block; height: 25px; text-decoration: none; width: 25px; }
/* line 184, ../scss/_items.scss */
.items #bottom-menu > a { background-color: #f2f2f2; color: #008055; position: relative; text-indent: -999px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #009966; -webkit-box-shadow: 0 3px 0 #009966; box-shadow: 0 3px 0 #009966; text-align: left; }
/* line 194, ../scss/_items.scss */
.items #bottom-menu > a:after { content: "\f058"; position: absolute; top: 0; left: 0; line-height: 25px; z-index: 999; text-indent: 0; text-align: center; }

/* line 207, ../scss/_items.scss */
#items-paging { clear: both; display: block; *zoom: 1; }
/* line 38, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#items-paging:after { content: ""; display: table; clear: both; }
/* line 212, ../scss/_items.scss */
#items-paging a { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #006644; -webkit-box-shadow: 0 3px 0 #006644; box-shadow: 0 3px 0 #006644; background-color: #f2f2f2; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; padding-left: 10px; padding-right: 10px; text-decoration: none; }
/* line 221, ../scss/_items.scss */
#items-paging #previous-page { float: left; }
/* line 224, ../scss/_items.scss */
#items-paging #next-page { float: right; }

/* line 1, ../scss/_single.scss */
.item { position: relative; }
/* line 4, ../scss/_single.scss */
.item > nav { *zoom: 1; text-align: right; }
/* line 38, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.item > nav:after { content: ""; display: table; clear: both; }
/* line 9, ../scss/_single.scss */
.item > nav .nav-left, .item > nav .nav-right { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; overflow: hidden; color: transparent; }
/* line 21, ../scss/_single.scss */
.item > nav a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-family: FontAwesome; height: 36px; width: 30px; position: relative; overflow: hidden; color: #16A085; }
/* line 31, ../scss/_single.scss */
.item > nav a:before { text-align: center; width: 100%; line-height: 30px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #107360; -webkit-box-shadow: 0 3px 0 #107360; box-shadow: 0 3px 0 #107360; background-color: #FFFFFF; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
/* line 39, ../scss/_single.scss */
.item > nav a:hover:before { background-color: #ECF0F1; }
/* line 45, ../scss/_single.scss */
.item > nav #next-item:before { content: "\f105"; }
/* line 50, ../scss/_single.scss */
.item > nav #previous-item:before { content: "\f104"; }
/* line 57, ../scss/_single.scss */
.item > h1 a { font-family: "Roboto Slab", Arial, sans-serif; font-size: 1.75rem; font-weight: 300; text-decoration: none; }
/* line 65, ../scss/_single.scss */
.item > .item-infos { display: block; margin-top: 10px; margin-bottom: 10px; background-color: #CBD0D3; }
/* line 71, ../scss/_single.scss */
.item > .item-infos li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; line-height: 32px; font-family: "Roboto Slab", Arial, sans-serif; font-weight: 400; font-size: 0.875rem; color: #7F8C8D; }
/* line 79, ../scss/_single.scss */
.item > .item-infos li:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; content: " - "; }
/* line 85, ../scss/_single.scss */
.item > .item-infos li:nth-child(1):before, .item > .item-infos li:nth-child(2):before { content: ""; }
/* line 89, ../scss/_single.scss */
.item > .item-infos li a { color: #7F8C8D; font-size: 0.875rem; text-decoration: none; vertical-align: middle; }
/* line 95, ../scss/_single.scss */
.item > .item-infos li a:hover { color: #E74C3C; text-decoration: underline; }
/* line 100, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 32px; height: 32px; text-align: center; }
/* line 105, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon:hover { text-decoration: none; }
/* line 108, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon:before { font-family: FontAwesome; content: "\f006"; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
/* line 115, ../scss/_single.scss */
.item > .item-infos li a.bookmark-icon[title*="remove"]:before { content: "\f005"; }
/* line 123, ../scss/_single.scss */
.item > .item-infos li [data-failure-message] { color: #E74C3C; }
/* line 129, ../scss/_single.scss */
.item > #item-content { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #FFFFFF; font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; font-size: 1rem; margin-bottom: 10px; overflow: hidden; padding: 10px; }
/* line 139, ../scss/_single.scss */
.item > #item-content a { color: #16A085; text-decoration: none; }
/* line 142, ../scss/_single.scss */
.item > #item-content a:hover { color: #E74C3C; text-decoration: underline; }
/* line 148, ../scss/_single.scss */
.item > #item-content ol, .item > #item-content ul { margin-left: 30px; margin-right: 20px; }
/* line 152, ../scss/_single.scss */
.item > #item-content ul { list-style-type: square; }
/* line 155, ../scss/_single.scss */
.item > #item-content ol { list-style-type: decimal; }
/* line 159, ../scss/_single.scss */
.item > #item-content blockquote, .item > #item-content q { position: relative; font-family: "Roboto Slab", Arial, sans-serif; font-weight: 300; font-size: 1.125rem; margin: 10px 20px; }
/* line 167, ../scss/_single.scss */
.item > #item-content blockquote small, .item > #item-content q small { font-size: 0.875rem; }
/* line 171, ../scss/_single.scss */
.item > #item-content blockquote:before, .item > #item-content blockquote:after, .item > #item-content q:before, .item > #item-content q:after { font-family: FontAwesome; display: inline; vertical-align: top; font-size: 1rem; }
/* line 178, ../scss/_single.scss */
.item > #item-content blockquote:before, .item > #item-content q:before { content: "\f10d"; margin-right: 10px; }
/* line 182, ../scss/_single.scss */
.item > #item-content blockquote:after, .item > #item-content q:after { content: "\f10e"; margin-left: 10px; }
/* line 186, ../scss/_single.scss */
.item > #item-content blockquote > *:first-child, .item > #item-content blockquote > *:last-child, .item > #item-content q > *:first-child, .item > #item-content q > *:last-child { display: inline; }
/* line 191, ../scss/_single.scss */
.item > #item-content pre { background-color: #2C3E50; color: #FFFFFF; font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; font-size: 0.875rem; margin-bottom: 10px; margin-top: 10px; padding: 10px; position: relative; }
/* line 200, ../scss/_single.scss */
.item > #item-content pre:before { display: block; content: ""; background-color: #34495E; bottom: 0; left: 0; position: absolute; top: 0; width: 2px; }
/* line 214, ../scss/_single.scss */
.item > #item-content h1 { font-size: 1.625rem; font-weight: normal; font-family: "Roboto Slab", Arial, sans-serif; }
/* line 214, ../scss/_single.scss */
.item > #item-content h2 { font-size: 1.5rem; font-weight: normal; font-family: "Roboto Slab", Arial, sans-serif; }
/* line 214, ../scss/_single.scss */
.item > #item-content h3 { font-size: 1.375rem; font-weight: normal; font-family: "Roboto Slab", Arial, sans-serif; }
/* line 214, ../scss/_single.scss */
.item > #item-content h4 { font-size: 1.25rem; font-weight: normal; font-family: "Roboto Slab", Arial, sans-serif; }
/* line 214, ../scss/_single.scss */
.item > #item-content h5 { font-size: 1.125rem; font-weight: normal; font-family: "Roboto Slab", Arial, sans-serif; }
/* line 214, ../scss/_single.scss */
.item > #item-content h6 { font-size: 1rem; font-weight: normal; font-family: "Roboto Slab", Arial, sans-serif; }
/* line 222, ../scss/_single.scss */
.item > #item-content p { line-height: 1.4; margin-bottom: 20px; }

/* line 1, ../scss/_login.scss */
#login-page { background-color: #e8e8e8; }
/* line 4, ../scss/_login.scss */
#login-page section { width: auto; position: relative; overflow: visible; }
/* line 9, ../scss/_login.scss */
#login-page section.page { margin: 20px; width: 480px; }
/* line 14, ../scss/_login.scss */
#login-page .page-header { visibility: hidden; }
/* line 17, ../scss/_login.scss */
#login-page form { -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-shadow: 0 3px 0 #009966; -webkit-box-shadow: 0 3px 0 #009966; box-shadow: 0 3px 0 #009966; background-color: #fFFFFF; margin-left: 20px; padding: 10px; }
/* line 24, ../scss/_login.scss */
#login-page form > * { margin: 10px; }
/* line 28, ../scss/_login.scss */
#login-page form [type="text"], #login-page form [type="password"] { width: 380px; }
/* line 32, ../scss/_login.scss */
#login-page form + div { margin-left: 20px; margin-top: 20px; }
/* line 39, ../scss/_login.scss */
#login-page form + div h3 { font-weight: bold; }
/* line 42, ../scss/_login.scss */
#login-page form + div ul { list-style-type: square; padding-left: 25px; }

/* line 1, ../scss/_buttons.scss */
.btn { border: none; cursor: pointer; display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 24px; padding: 5px 10px; text-decoration: none; vertical-align: middle; }
/* line 12, ../scss/_buttons.scss */
.btn-red { color: rgba(77, 16, 10, 0.8) !important; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #d62c1a; -webkit-box-shadow: 0 3px 0 #d62c1a; box-shadow: 0 3px 0 #d62c1a; background-color: rgba(248, 201, 196, 0.7); -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; }
/* line 17, ../scss/_buttons.scss */
.btn-blue { color: rgba(31, 76, 56, 0.8) !important; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #006644; -webkit-box-shadow: 0 3px 0 #006644; box-shadow: 0 3px 0 #006644; background-color: #f2f2f2; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; }

@media only screen and (max-width: 480px) { /* line 7, ../scss/_queries.scss */
  #login-page section.page { margin: 5px; width: auto; }
  /* line 13, ../scss/_queries.scss */
  #login-page form { margin: 0 auto; padding: 10px; }
  /* line 16, ../scss/_queries.scss */
  #login-page form [type="text"], #login-page form [type="password"] { width: 220px; } }
@media only screen and (max-width: 980px) { /* line 39, ../scss/_queries.scss */
  body > header { top: 5px; left: 20px; bottom: inherit; width: auto; z-index: 999; background-color: transparent !important; }
  /* line 47, ../scss/_queries.scss */
  body > .page { width: auto !important; position: relative; }
  /* line 54, ../scss/_queries.scss */
  header nav { width: auto; margin: auto; }
  /* line 59, ../scss/_queries.scss */
  header nav .logo { display: none; }
  /* line 62, ../scss/_queries.scss */
  header nav > ul { margin: auto; }
  /* line 66, ../scss/_queries.scss */
  header nav li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 5px 0; }
  /* line 70, ../scss/_queries.scss */
  header nav li:first-child { display: none; }
  /* line 74, ../scss/_queries.scss */
  header nav li a { display: block; color: #009966; }
  /* line 78, ../scss/_queries.scss */
  header nav li a[href*="action=more"] { width: 35px; height: 35px; line-height: 35px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #006644; -webkit-box-shadow: 0 3px 0 #006644; box-shadow: 0 3px 0 #006644; background-color: #f2f2f2; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; }
  /* line 84, ../scss/_queries.scss */
  header nav li a[href*="action=more"]:before { height: 100%; width: 100%; line-height: inherit; }
  /* line 90, ../scss/_queries.scss */
  header nav li a:before { color: #009966; }
  /* line 100, ../scss/_queries.scss */
  .page .page-header h2 { visibility: hidden; }
  /* line 106, ../scss/_queries.scss */
  .page .page-header ul li a, .page .page-header ul li a:after { width: 35px; height: 35px; line-height: 35px; }
  /* line 118, ../scss/_queries.scss */
  .menu-more { margin-top: 50px; }
  /* line 121, ../scss/_queries.scss */
  .menu-more li { display: block; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #006644; -webkit-box-shadow: 0 3px 0 #006644; box-shadow: 0 3px 0 #006644; background-color: #f2f2f2; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; margin: 10px auto; }
  /* line 127, ../scss/_queries.scss */
  .menu-more li a { display: block; padding: 10px 20px; text-decoration: none; width: 100%; }
  /* line 137, ../scss/_queries.scss */
  .items article { padding-left: 10px; padding-right: 10px; }
  /* line 142, ../scss/_queries.scss */
  .items article .preview { display: none; }
  /* line 148, ../scss/_queries.scss */
  .items .item-menu { display: block; *zoom: 1; }
  /* line 38, ../../../../../../../../../../home/mirado/.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .items .item-menu:after { content: ""; display: table; clear: both; }
  /* line 153, ../scss/_queries.scss */
  .items .item-menu li:first-child { display: block; float: left; }
  /* line 157, ../scss/_queries.scss */
  .items .item-menu li:last-child { float: right; }
  /* line 159, ../scss/_queries.scss */
  .items .item-menu li:last-child:before { display: none; visibility: hidden; }
  /* line 164, ../scss/_queries.scss */
  .items .item-menu li .mark, .items .item-menu li .mark:before { height: 25px; text-align: center; width: 25px; }
  /* line 170, ../scss/_queries.scss */
  .items .item-menu li .mark { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 3px 0 #006644; -webkit-box-shadow: 0 3px 0 #006644; box-shadow: 0 3px 0 #006644; background-color: #f2f2f2; -moz-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out; -webkit-transition-delay: 0s; transition: all 0.5s ease-in-out 0s; display: block; position: relative; overflow: hidden; text-indent: -999px; }
  /* line 177, ../scss/_queries.scss */
  .items .item-menu li .mark:before { position: absolute; top: 0; left: 0; line-height: 25px; z-index: 999; text-indent: 0; }
  /* line 190, ../scss/_queries.scss */
  #current-item { padding-top: 35px; }
  /* line 194, ../scss/_queries.scss */
  #current-item nav.top { display: none; }
  /* line 197, ../scss/_queries.scss */
  #current-item nav.bottom { display: block; }
  /* line 201, ../scss/_queries.scss */
  #current-item > h1 { float: none; }
  /* line 205, ../scss/_queries.scss */
  #current-item iframe { width: 100%; }
  /* line 210, ../scss/_queries.scss */
  form label { display: block; }
  /* line 213, ../scss/_queries.scss */
  form label[for*="form-"] { width: auto; }
  /* line 220, ../scss/_queries.scss */
  .alert.alert-normal ul { margin: 10px 5px; }
  /* line 226, ../scss/_queries.scss */
  .hide-mobile { display: none !important; }
  /* line 229, ../scss/_queries.scss */
  .hide-desktop { display: block; } }
