.alert {
	font-family: $helvetica;
	font-size: rem(15);
	padding: 10px;
	margin-bottom: 10px;

	a {
		color: $green-sea;
		text-decoration: none;
		&:hover {
			color: $emerald;
			text-decoration: underline;
		}
	}
	@include hn();

	ul {
		list-style-type: square;
		margin-left: 30px;
	}

	&.alert-error {
		background-color: $alizarin;
		color: $light;
		a {
			color: $sun-flower;
		}
	}
	&.alert-success {
		background-color: $turquoise;
		color: $clouds;
	}
	&.alert-normal {
	}
	&.alert-info {
		background-color: $peter-river;
		color: $clouds;
	}
}