.btn {
	@include appearance(none);
	@include inline-block(middle);
	height: 36px;
	line-height: 30px;
	border: 0 solid transparent;
	padding-left: 10px;
	padding-right: 10px;
	font-family: $helvetica;
	font-size: rem(14);
	font-weight: bold;
	cursor: pointer;
	@include transition(all 1.0s ease-in-out);
	text-decoration: none;

	&.btn-blue,
	&.btn-red  {
		@include flat-box($green-sea, $clouds, 5px);
		color: $green-sea;
		&:hover {
			color: $asbestos;
		}
	}
	/* -- 
	&.btn-red {
		@include flat-box($alizarin, $clouds, 5px);
		color: $alizarin;
		&:hover {
			color: $asbestos;
		}
	}
	*/
	~ a {
		font-family: $helvetica;
		font-size: rem(14);
		color: $green-sea;
	}
}