#console {
	@include box-sizing(border-box);
	background-color: $midnight-blue;
	color: $clouds; 		
	max-width: 100%;
	overflow: hidden;
	padding: 10px;
	word-wrap: break-word;
}

[data-item-page="config"] {
	.page-header,
	.page-section {
		margin-bottom: 10px;
		
		+ section {
			background-color: $light;
			padding: 10px;

			ul {
				list-style-type: square;
				margin: auto 30px ;
			}
		}
	}

	.page-section {
		h2 {
			color: $midnight-blue;
			font-family: $roboto-slab;
			font-size: rem(16);
			text-transform: uppercase;			
		}
	}
	a {
		color: $green-sea;
		text-decoration: none;
		&:hover {
			color: $alizarin;
			text-decoration: underline;
		}
	}
	label {
		~ br {
			display: none;
		}
	}
}