body {
	// background-color: $clouds;
	background-color: $light;
	position: relative;
	@include pie-clearfix;

	> header,
	> section {
		// bottom: 0;		
		// top: 0;
		// position: fixed;
	}

	> section {
		overflow: auto;
		margin: 0 auto;
	}


	> header {
		@media only screen and (min-width: 960px) { 
			left: 20px;
			top: 20px;
			overflow: hidden;
			width: px2cent(220px);
			position: fixed;
			z-index: 999;

		}
	}
}

.page {
	position: relative;
	padding: 10px 20px;
	width: px2cent( (1366px - 270px));
}



