body {
	background-color: $clouds;

	> header,
	> section {
		bottom: 0;		
		top: 0;
	}

	> section {
		overflow: auto;
		position: absolute;
	}


	> header {
		left: 0;
		overflow: hidden;
		position: fixed;
		width: px2cent(220px);
	}
}

.page {
	padding: 10px 20px;
	right: 0;
	width: px2cent( (1366px - 270px));
}

/*
.page-section {
 	h2 {
 		@extend %title;
 		margin: {
 			bottom: 15px;
 			top: 15px;
 		}
 	}

 	+ section {
 		background-color: $theme-background-light;
 		padding: 10px;
		
		ul {
			@extend %ul;

			li {
				@extend %li;
			}
		}	 		
 	}
}
*/

