.page-header {
	+ form {
		background-color: $light;
		padding: 10px;
	}
}
form {
	label {
		font-family: $helvetica;
		font-size: rem(16);
		color: $dark;
		display: block;
	}
	input ,
	select {
		@include appearance(none);
		&:focus,
		&:hover,
		&:active {
			outline: none;
		}
	}
	%input-common {
		@include box-shadow(none);
		background-color: $light;
		border: 1px solid $silver;
		color: $dark;
		font-family: $helvetica;
		font-size: rem(16);
		margin-bottom: 10px;
		@include placeholder {
			color: $concrete;
		}
		&:focus,
		&:hover,
		&:active {
			border-color: $concrete;
		}
	}

	input[type="email"],
	input[type="password"] ,
	input[type="text"],
	input[type="url"]  {
		@extend %input-common;
		height: 30px;
		line-height: 30px;
		min-width: 280px;
		padding-left: 10px;
		padding-right: 10px;
	}

	/* -- Sous chromium seulement 
	input[type="radio"],
	input[type="checkbox"] {
		@include box-shadow(none);
		border: none;
		cursor: pointer;
		height: 21px;
		margin: 0;
		position: relative;
		vertical-align: middle;
		width: 21px;

		&:before {
			color: $concrete;
			display: block;
			font-family: FontAwesome;
			font-size: rem(18);
			height: 100%;
			left: 0;
			line-height: 21px;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;	
		}
		&:checked {
			&:before {
				color: $midnight-blue;					
			}
		}
	 }
	 
	input[type="checkbox"] {
		&:before {			
			content: "\f096";

		}				
		&:checked {
			&:before {				
				content: "\f046";
			}
		}
	}
	input[type="radio"] {
		&:before {			
			content: "\f10c";
		}
		&:checked {
			&:before {			
				content: "\f192";
			}			
		}
	}
	*/
	input[type="radio"] {
		@include appearance(radio);
	}
	input[type="checkbox"] {	
		@include appearance(checkbox);
	}
	select {
		@extend %input-common;
		line-height: 30px;
		min-width: 300px;
		padding-left: 5px;
		padding-right: 5px;
		@include box-sizing(border-box);
		position: relative;
	}
	@include hn();
}


.form-help {
	font-family: $helvetica;
	font-size: rem(14);
	color: $alizarin;
}

.form-actions {
	margin-bottom: 10px;
	margin-top: 10px;
}

.form-errors {
	list-style-type: square;
	margin-left: 30px;
	li {
		font-family: $helvetica;
		font-size: rem(14);
		color: $alizarin;
	}
}