.items {
	@include pie-clearfix;

	%article-child {
		@include inline-block(middle);
	}
	
	%article-indicator-icon {
		@extend %article-child;
		font-family: FontAwesome;
		font-size: rem(12);
		background-color: $light;
		color: $silver;
		padding: 0 5px;
		display: none; // deja marquer par les icones sur les menus de chaque article

		&:after {
			@extend %article-child;
		}

		+ .favicon,
		+ a {
			margin-left: 5px;
		}
	}

	article {
		// Article non-lus
		@include box-sizing(border-box);
		@include transition(all 1.0s ease-in-out);
		border-bottom: 1px solid $clouds;
		cursor: pointer;
		margin-bottom: 10px;
		padding: 10px;

		&:hover {
			background-color: lighten($clouds, 1%);
			border-bottom-color: $alizarin;
		}
		
		// Article lus / desactiver
		&[data-feed-disabled="1"],
		&[data-item-status="read"] {
			background-color: $clouds;

			// Icones bookmark et as read
			.read-icon {
				@extend %article-indicator-icon ;
				&:after {
					content: "\f06e";
				}
			}
			&:hover {
				background-color: $light;
			}
		}

		// Article bookmark
		&[data-item-bookmark="1"] {
			.bookmark-icon  {
				@extend %article-indicator-icon;
				&:after {
					content: "\f005";
				}
			}
		}
	}
	
	 h2 {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 5px;

		// Icones bookmark et as read
		.bookmark-icon,
		.read-icon {
			display: none;
		}

		// Favicon
		.favicon {
			@include inline-block(middle);
			border: none;
			height: 16px;
			width: 16px;
		}
		// Titre
		a {
			// @include inline-block(middle);
			vertical-align: middle;
			color: $green-sea;
			font-family: $roboto-slab;
			font-weight: bold;
			font-size: rem(16);
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.preview {
		font-size: rem(15);
		line-height: 27px;
	}
}