
#login {
	position: relative;
	width: 310px;
	@include border-radius(10px);
	background-color: $theme-background-light;
	@include box-sizing(border-box);
	overflow: hidden;

	form {
		display: block;

		[type="text"],
		[type="password"] {
			width: 100%;
			min-width: 0;
			@include box-sizing(border-box);
		}
	}
}
#database-selector {

	
}
