// Panel 
.panel {
	margin: 5px auto;
	padding: 10px; 

	@include hn();

	ul {
		@extend %ul;
		li {
			@extend %li;
			word-break: break-all;
			font-size: rem(16);
		}
	}

	&.panel-default {
		background-color: $light;		
	}
	&.panel-danger {
		background-color: $alizarin !important;

		a {
			color: $light;
			font-size: rem(16);

			&:hover {
				color: $emerald;
			}
		}
	}
}