header {
	> nav {
		display: block;

		@media only screen and (max-width: 959px) {

		}
		@media only screen and (min-width: 960px) { 
			max-width: 35px;
			&:hover {
				> ul {
					display: block;
				}

				.logo {
					&:after {
						background-color: $clouds;
					}
				}
			}
			> ul {
				background-color: $clouds;
				display: none;
				width: 200px;
			}

		}

		.logo {
			@media only screen and (max-width: 959px) {
				display: none;

			}
			@media only screen and (min-width: 960px) { 
				display: block;
				height: 35px;
				position: relative;
				font-size: 0;
				width: 32px;

				&:after {
					@include flat-box($green-sea, $light, 5px);
					background-color: $light;			
					color: $green-sea;
					content: '\f0c9';
					display: block;
					font-family: "FontAwesome";
					font-size: rem(22px);
					left: 1px;
					line-height: 30px;
					position: absolute;
					text-align: center;
					top: 0;
					width: 30px;
					z-index: 999;
				}
			}
		}


		li {
			position: relative;
			display: block;
			padding: 5px 10px;
			@media only screen and (max-width: 959px) {
				background-color: $light;
				&:hover,
				&.active {
					background-color: $light;

					&:before {
						background-color: $green-sea;
					}
				}
			}
			@media only screen and (min-width: 960px) { 
				&:hover,
				&.active {
					background-color: darken($clouds, 10%);

					&:before {
						background-color: $alizarin;
					}
				}
			}
			&:before {
				bottom: 0; 
				content: "";
				display: block;
				left: 0;
				position: absolute;
				top: 0;
				width: 3px;

			}

			a {
				@extend %main-menu-item ;
			}
		}
	}

}