header {
	background-color: $green-sea;

	> nav {
		display: block;

		> ul,
		> a {
			display: block;
		}
		.logo {			
			color: $wet-asphalt;
			font-family: $roboto-slab;
			font-weight: 700;
			padding: 10px;
			text-decoration: none;
			text-transform: uppercase;

			span {
				//color: lighten($green-sea, 10%);
				margin-left: 2px;
			}
		}
		li {
			position: relative;
			display: block;
			padding: 5px 10px;

			&:hover,
			&.active {
				background-color: $turquoise;

				&:before {
					background-color: $alizarin;
				}
			}
			&:before {
				bottom: 0; 
				content: "";
				display: block;
				left: 0;
				position: absolute;
				top: 0;
				width: 3px;

			}

			a {
				@extend %main-menu-item ;
			}
		}
	}

}