.item {
	position: relative;

	> nav {
		@include pie-clearfix;
		text-align: right;


		%nav-common {
			@include inline-block(middle);
			overflow: hidden;
			color: transparent;
		}
		.nav-left {	
			@extend %nav-common;
		}
		.nav-right {
			margin-left: 10px;
			@extend %nav-common;
		}

		a {
			@include inline-block(middle);
			font-family: 'FontAwesome';
			height: 36px;
			width: 30px;
			position: relative;
			overflow: hidden;
			color: $green-sea;
			

			&:before {
				text-align: center;
				width: 100%;
				line-height: 30px;
				@include flat-box($green-sea, $light, 5px);
				@include inline-block(middle);
			}			
			&:hover {
				&:before {
					background-color: $clouds;
				}
			}
		}
		#next-item {
			&:before {
				content: "\f105";
			}
		}
		#previous-item {
			&:before {
				content: "\f104";
			}
		}
	}

	> h1 {
		a {
			color: $green-sea;
			font-size: rem(38);
			font-weight: bold;
			letter-spacing: -1px;
			text-decoration: none;
			text-indent: -2px;
			line-height: 1.2;
		}
	}

	> .item-infos {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		// background-color: $silver;

		li {
			@include inline-block(middle);
			color: $asbestos;
			font-size: rem(14);
			font-weight: 400;				
			line-height: 32px;
			
			&:before {
				@include inline-block(middle);
				content: " - ";
			}
			&:nth-child(1),
			&:nth-child(2) {
				&:before {
					content: "";
				}
			}
			a {
				color: $asbestos;
				font-size: rem(14);
				text-decoration: none;
				vertical-align: middle;

				&:hover {
					color: $alizarin;
					text-decoration: underline;
				}

				&.bookmark-icon {
					@include inline-block(middle);
					width: 32px;
					height: 32px;
					text-align: center;
					&:hover{
						text-decoration: none;
					}
					&:before {
						font-family: 'FontAwesome';
						content: "\f006";
						@include inline-block(middle);
					}
					// Supprimer du bookmark
					&[title*="remove"] {
						&:before {
							content: "\f005";
						}
					}
				}
			}

			// message d'erreur (telechargement des contenus)
			[data-failure-message] {
				color: $alizarin;
			}
		}
	}

	> #item-content {
		@include box-sizing(border-box);
		background-color: $light;
		font-size: rem(20);
		margin-bottom: 10px;
		overflow: hidden;
		padding: 10px;

		// mise en forme des textes
		a {
			color: $green-sea;
			text-decoration: none;
			&:hover {
				color: $alizarin;
				text-decoration: underline;
			}
		}

		ol, ul {
			margin-left: 30px;
			margin-right: 20px;
		}
		ul {
			list-style-type: square;
		}
		ol {
			list-style-type: decimal;
		}

		blockquote,
		q {
			position: relative;
			font-weight: 300;
			font-size: rem(18);
			margin: 10px 20px;

			small {
				font-size: rem(14);

			}
			&:before,
			&:after {
				font-family: FontAwesome;
				display: inline;
				vertical-align: top;
				font-size: rem(16);
			}
			&:before {
				content: "\f10d";
				margin-right: 10px;
			}
			&:after {
				content: "\f10e";
				margin-left: 10px;
			}
			> *:first-child,
			> *:last-child {
				display: inline;
			}
		}
		pre {
			background-color: $midnight-blue;
			color: $light;
			font-size: rem(14);
			margin-bottom: 10px;
			margin-top: 10px;
			padding: 10px;
			position: relative;
			&:before {
				display: block;
				content: "";
				background-color: $wet-asphalt;
				bottom: 0;
				left: 0;
				position: absolute;
				top: 0;
				width: 2px;
			}
		}

		$size: 38;
		@for $i from 1 through 6   {
			h#{$i} {
				$size: $size - 2;
				font-size: rem($size);
				font-weight: normal;
			}
		}

		p {
			line-height: 40px;
			margin-bottom: 20px;
		}

		img {
			display: block;
			max-width: 96%;
			margin: 15px auto;
		}
	}
}